/* LOADER DE LA PÁGINA */

#loader {
  background-color: var(--color-github);
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* clase hidden para el loader que se añade con js */

.hidden {
  -webkit-animation: fadeout .7s forwards;
          animation: fadeout .7s forwards;
}

@-webkit-keyframes fadeout {
  100%{
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeout {
  100%{
    visibility: hidden;
    opacity: 0;
  }
}

.spinner {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid var(--color-footer-github-gris);
  border-bottom: 4px solid var(--color-footer-github-gris);
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}

.spinner2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.75em;
  margin-top: -2.75em;
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid var(--color-cuatro);
  border-bottom: 4px solid var(--color-cuatro);
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
  0%{
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
  50%{
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
  }
  75%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
}

@keyframes loader {
  0%{
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
  50%{
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
  }
  75%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
}

/* --- HEADER --- */

/* Utilizo position fixed para dejar el header fijo al hacer scroll en la web */

header {
  width: 100%;
  position: fixed;
  z-index: 98;
  background-color: var(--color-github);
}

/* --- MAIN --- */

/* pongo un contenedor wrapper para facilitar el responsive */

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.flecha {
  position: fixed;
  bottom: 15px;
  right: 10px;
  text-align: center;
  background-color: var(--color-github);
  border-radius: 6px;
  border: 1px solid var(--color-footer-github-gris);
  width: 2em;
  height: 2em;
}

.flecha:hover {
  background-color: var(--color-cuatro);
  -webkit-transition: background .35s;
  -o-transition: background .35s;
  transition: background .35s;
}

.flecha > a {
  display: block;
  line-height: 2em;
  color: var(--color-footer-github-gris);
  text-decoration: none;
  font-size: 15px;
}

/* ESTILO DE LOS ICONOS DE CONTACTO/REDES SOCIALES */

.content-wrapper > ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.content-wrapper > ul > li > a {
  text-decoration: none;
  color: var(--color-footer-github-gris);
  -webkit-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;

}

.content-wrapper > ul > li a:hover {
  color: var(--color-cuatro);
}

.content-wrapper > ul > li {
  font-size: 25px;
  padding: 0 20px;
  list-style: none;
}

/* ANIMACIÓN DE LOS ICONOS DE CONTACTO/REDES SOCIALES */

.iconos-contacto i:hover {
  -webkit-animation: shake 1.5s infinite;
          animation: shake 1.5s infinite;
}

@-webkit-keyframes shake {
  0%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
  }
  8%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
  }
  16%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
  }
  24%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
  }
  32%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
  }
  40%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
  }
  48%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
}

@keyframes shake {
  0%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
  }
  8%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
  }
  16%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
  }
  24%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
  }
  32%{
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
  }
  40%{
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
  }
  48%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
}

/* estilo de la linea separadora de las secciones */

.separador {
  width: 50%;
  height: 1px;
  background: var(--color-cuatro);
  margin: 50px auto;
  -webkit-box-shadow: 1px 1px 10px var(--color-cuatro);
          box-shadow: 1px 1px 10px var(--color-cuatro);
}

/* ESTILO DE LA SECCIÓN ABOUT */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 100vh;
}

/* estilo del texto */

.texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.texto div {
  width: 24em;
}

.texto button {
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-footer-github-gris);
  -webkit-transition: background-color .35s;
  -o-transition: background-color .35s;
  transition: background-color .35s;
  margin: 20px 154px 0 0;
}

.texto button > a {
  display: block;
  text-decoration: none;
  color: var(--color-footer-github-gris);
  padding: 10px 50px;
}

.texto button:hover {
  background-color: var(--color-cuatro);
}

.texto h1 {
  font-size: clamp(2.5rem, 10vw, 3rem);
}

.texto h2 {
  color: var(--color-letra-secundaria-gris);
}

.texto span {
  color: var(--color-cuatro);
}

/* estilo de la foto y la animación */

.foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.foto::before {
  content: "";
  height: 20em;
  width: 20em;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid var(--color-footer-github-gris);
  -webkit-animation: borde 5s linear infinite;
          animation: borde 5s linear infinite;
  z-index: 20;
}

.foto img {
  height: 20em;
  width: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--color-cuatro);
  border-radius: 50%;
}

@-webkit-keyframes borde {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes borde {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ESTRUCTURA DE LA SECCIÓN SKILLS */

.skills {
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  color: var(--color-letra-secundaria-gris);
  text-align: center;
}

.skills h2 {
  font-size: clamp(2.5rem, 10vw, 3rem);
  color: var(--color-footer-github-gris);
  text-transform: uppercase;
}

.contenedor-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9em 25px 9em 25px 9em 25px 9em 25px 9em;
  grid-template-rows: repeat(5, 9em);
  -ms-grid-columns: 10em 25px 10em 25px 10em 25px 10em 25px 10em 25px 10em 25px 10em;
  grid-template-columns: repeat(7, 10em);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px 25px;
}

.contenedor-skills > div:nth-child(1) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contenedor-skills > div:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.contenedor-skills > div:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.contenedor-skills > div:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.contenedor-skills > div:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.contenedor-skills > div:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.contenedor-skills > div:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.contenedor-skills > div:nth-child(8) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

.contenedor-skills > div:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.contenedor-skills > div:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.contenedor-skills > div:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
}

.contenedor-skills > div:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.contenedor-skills > div:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contenedor-skills > div:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.contenedor-skills > div:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

/* ESTILO BASE DE LAS TARJETAS DE LA SECCIÓN SKILLS */

.skills .tarjeta {
  color: var(--color-footer-github-gris);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10em;
  height: 9em;
  background-color: var(--color-tarjetas-github-gris);
  border-radius: 6px;
  -webkit-box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
          box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  overflow: hidden;
}

.tarjeta img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: scale, .5s ease-in-out, -webkit-filter;
  -webkit-transition: scale, .5s ease-in-out, -webkit-filter;
  -o-transition: scale, filter, .5s ease-in-out;
  transition: scale, filter, .5s ease-in-out;
  transition: scale, filter, .5s ease-in-out, -webkit-filter;
}

.tarjeta:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.tarjeta figure {
  width: 10em;
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ESTILO TARJETA ACTUAL */

.actual figure > figcaption {
  font-weight: bold;
  text-align: center;
  opacity: 0; 
  -webkit-transform: scale(1.15); 
      -ms-transform: scale(1.15); 
          transform: scale(1.15);
  position: absolute;
  bottom: 0;
  -webkit-transition: scale, opacity, .5s ease-in-out;
  -o-transition: scale, opacity, .5s ease-in-out;
  transition: scale, opacity, .5s ease-in-out;
}

.actual:hover > figure > img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  transition: -webkit-filter .5s;
  -webkit-transition: -webkit-filter .5s;
  -o-transition: filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s;
}

.actual:hover > figure > figcaption {
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
  opacity: 1;
}

/* ESTILO TARJETA COMING SOON */

.soon figure {
  transition: scale, opacity, .5s ease-in-out, -webkit-filter;
  -webkit-transition: scale, opacity, .5s ease-in-out, -webkit-filter;
  -o-transition: scale, opacity, filter, .5s ease-in-out;
  transition: scale, opacity, filter, .5s ease-in-out;
  transition: scale, opacity, filter, .5s ease-in-out, -webkit-filter;
}

.soon figure > figcaption {
  font-weight: bold;
  text-align: center;
  opacity: 0; 
  -webkit-transform: scale(1.15); 
      -ms-transform: scale(1.15); 
          transform: scale(1.15);
  position: absolute;
  -webkit-transition: scale, opacity, .5s ease-in-out;
  -o-transition: scale, opacity, .5s ease-in-out;
  transition: scale, opacity, .5s ease-in-out;
}

.soon:hover > figure > img {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.soon:hover > figure > figcaption {
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
  opacity: 1;
}

/* TAMAÑO DE LAS IMÁGENES DE LAS TARJETAS */

.contenedor-skills > div:nth-child(1) img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 4.5rem;
}

.contenedor-skills > div:nth-child(2) img {
  height: 8rem;
}

.contenedor-skills > div:nth-child(3) img {
  height: 4rem;
}

.contenedor-skills > div:nth-of-type(4) img {
  height: 7em;
}

.contenedor-skills > div:nth-of-type(5) img {
  height: 3em;
}

.contenedor-skills > div:nth-of-type(7) img {
  height: 5em;
}

.contenedor-skills > div:nth-of-type(9) img {
  height: 4.5em;
}

.contenedor-skills > div:nth-of-type(10) img {
  height: 6em;
}

.contenedor-skills > div:nth-of-type(11) img {
  height: 5em;
}

.contenedor-skills > div:nth-of-type(12) img {
  height: 5em;
}

.contenedor-skills > div:nth-child(13) img{
  height: 3em;
}

.contenedor-skills > div:nth-child(14) img{
  height: 4em;
}

.contenedor-skills > div:nth-child(15) img{
  height: 5em;
}

/* ESTRUCTURA DE LA SECCIÓN SERVICES */

.services {
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.services > h2 {
  font-size: clamp(2.5rem, 10vw, 3rem);
}

.services > p {
  color: var(--color-letra-secundaria-gris);
}

.contenedor_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%
}

.contenedor_services > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

/* estilo tarjetas de servicios */

.contenedor_services > div > div {
  padding: 40px 40px;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-align: justify;
  background-color: var(--color-tarjetas-github-gris);
  border-radius: 6px;
  -webkit-box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
          box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.contenedor_services h4 {
  position: relative;
}

.contenedor_services h4::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 100%;
  background-color: var(--color-cuatro);
  position: absolute;
  bottom: 0;
}

.contenedor_services > div > div p > strong {
  color: var(--color-cuatro);
}

.svg {
  -webkit-filter: invert(96%) sepia(5%) saturate(965%) hue-rotate(179deg) brightness(87%) contrast(94%);
          filter: invert(96%) sepia(5%) saturate(965%) hue-rotate(179deg) brightness(87%) contrast(94%);
  height: 5rem;
  width: 5rem;
}

/* ESTRUCTURA DE LA SECCIÓN WORK */

.work {
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-letra-secundaria-gris);
  gap: 30px;
}

.work h2 {
  font-size: clamp(2.5rem, 10vw, 3rem);
  color: var(--color-footer-github-gris);
}

.contenedorwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
} 

/* estilo tarjetas proyectos */

.proyecto {
  color: var(--color-footer-github-gris);
  padding: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--color-tarjetas-github-gris);
  border-radius: 6px;
  -webkit-box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
          box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  gap: 20px;
}

.proyecto:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.proyecto:hover img {
  border-color: var(--color-cuatro);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.proyecto > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.proyecto > div > img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 3px solid var(--color-footer-github-gris);
  -webkit-transition: border .5s;
  -o-transition: border .5s;
  transition: border .5s;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: border, .5s, -webkit-filter;
  -webkit-transition: border, .5s, -webkit-filter;
  -o-transition: border, filter, .5s;
  transition: border, filter, .5s;
  transition: border, filter, .5s, -webkit-filter;
}

.uno > div > img {
  -o-object-position: right;
     object-position: right;
}

.proyecto button {
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 6px;
  color: var(--color-footer-github-gris);
  background-color: transparent;
  border: 1px solid var(--color-footer-github-gris);
  -webkit-transition: background-color .35s;
  -o-transition: background-color .35s;
  transition: background-color .35s;
}

.proyecto button:hover {
  background-color: var(--color-cuatro);
}

.proyecto button a {
  text-decoration: none;
  color: var(--color-footer-github-gris);
  display: block;
  padding: 7px 15px;
}

/* --- FOOTER --- */

footer {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .iconos-contacto {
  display: none;
}

footer p {
  font-size: 12px;
  margin: 12px;
  padding: 3em;
}
  
footer span {
  color: var(--color-cuatro);
}

/* --- RESPONSIVE --- */

@media screen and (max-width: 1279px) {
  
  .content-wrapper {
    margin: 0 3em;
  }

  .content-wrapper ul li {
    padding: 0 .8rem;
  }

  .skills {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .contenedor-skills {
    -ms-grid-columns: (10em)[3];
    grid-template-columns: repeat(3, 10em);
  }

  .contenedor-skills > div:nth-of-type(8) {
    display: none;
  }

  .contenedor-skills > div:not(:nth-child(15)) {
    grid-column: auto;
    grid-row: auto;
  }

  .contenedor-skills > div:nth-child(15) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }

  .contenedor_services > div > div {
    height: 25em;
  }

  .work {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .proyecto > div > img {
    width: 12em;
    height: 12em;
  }
}

@media screen and (max-width: 820px) {

  .texto {
    text-align: center;
  } 

  .texto button {
    margin: 20px 80px;
  }

  .texto button a {
    padding: 10px 40px;
  }

  .foto img {
    width: 17em;
    height: 17em;
  }

  .foto::before {
    width: 17em;
    height: 17em;
  }

  .skills {
    text-align: center;
  }

  .services {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }

  .contenedor_services > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contenedor_services > div > div {
    max-width: 30em;
    text-align: center;
  }

  .work {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }

  .contenedorwork {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

}

@media screen and (max-width: 760px) {

  .content-wrapper ul {
    display: none;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 5rem;
  }

  .texto {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }

  .texto button {
    margin: 20px 0;
  }

  .texto button a {
    padding: 10px 40px;
  }

  .contenedor-skills {
    -ms-grid-columns: 8em 20px 8em;
    grid-template-columns: repeat(2, 8em);
    -ms-grid-rows: 7em 20px 7em 20px 7em 20px 7em 20px 7em 20px 7em 20px 7em;
    grid-template-rows: repeat(7,7em);
    gap: 20px 20px ;
  }

  .contenedor-skills > div:nth-of-type(8) {
    display: none;
  }

  .contenedor-skills > div:not(:nth-child(15)) {
    grid-column: auto;
    grid-row: auto;
  }

  .contenedor-skills > div:nth-child(15) {
    grid-column: auto;
  }

  .skills .tarjeta {
    width: 8em;
    height: 7em;
  }

  .actual figure > figcaption {
    bottom: 5px;
  }

  .contenedor_services > div > div {
    text-align: justify;
    font-size: 14px;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .iconos-contacto {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  footer .iconos-contacto > li > a {
    text-decoration: none;
    color: var(--color-footer-github-gris);
    -webkit-transition: color 0.35s;
    -o-transition: color 0.35s;
    transition: color 0.35s;
  
  }
  
  footer .iconos-contacto > li a:hover {
    color: var(--color-cuatro);
  }
  
  footer .iconos-contacto > li {
    font-size: 25px;
    padding: 0 15px;
    list-style: none;
  }
}

@media screen and (max-width: 320px) {

  body {
    font-size: 14px;
  }

  .foto img {
    width: 12em;
    height: 12em;
  }

  .foto::before {
    width: 12em;
    height: 12em;
  }

  .proyecto button {
    font-size: 14px;
  }

  footer .iconos-contacto > li {
    padding: 0 10px;
  }
  
}
/* ajustes en modo landscape */

@media screen and (max-width: 950px) and (orientation: landscape) {

  .about {
    padding-top: 6em;
    height: fit-content;
    align-items: center;
  }

  .foto {
    width: 14em;
    height: 14em;
  }

  .foto img {
    width: 14em;
    height: 14em;
  }

  .foto::before {
    width: 14em;
    height: 14em;
  }

  .proyecto > div > img {
    width: 10em;
    height: 10em;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  .foto {
    width: 10em;
    height: 10em;
  }

  .foto img {
    width: 10em;
    height: 10em;
  }

  .foto::before {
    width: 10em;
    height: 10em;
  }
}