@font-face {
    font-family: "anurati";
    src: url(../font/Anurati-Regular.otf);
}

@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat/Montserrat-Light.ttf);
}

html {
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

body {
    perspective: 0px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#wrapper {
    background: black;
    min-height: 100vh;
    transform-style: inherit;
}

header {
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform-style: inherit;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-family: "anurati";
    letter-spacing: 7px;
}

/* header */

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
}

header ul li a:hover,
.active {
    background: #fff;
    color: #000000;
    border-radius: 20px;
}

/* main */

main {
    margin: 0px 50px 0px 50px;
    transform-style: inherit;
}

h2 {
    color: #fff;
    font-size: 2.5em;
    margin: 0px 0px 15px;
    font-family: "anurati";
    letter-spacing: 5px;
}

p {
    font-size: 13px;
    line-height: 20px;
}

/* seccion 1 */

.seccion {
    position: relative;
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: center;
    transform-style: inherit;
}

.mundo_uno::after {
    content: "";
    width: 100%;
    height: 60vh;
    background-image: url(../img/estrellas.png);
    position: absolute;
    z-index: 1;
}

.mundo_dos::after {
    content: "";
    width: 100%;
    height: 60vh;
    background-image: url(../img/estrellas.png);
    position: absolute;
    z-index: 1;
}

.mundo_uno > div:nth-of-type(1) {
    border-radius: 16px;
    padding: 24px;
    position: relative;
    z-index: 10;
    color: white;
    text-align: justify;
    flex-basis: 35%;
    box-shadow: 0 12px 24px -8px rgb(0, 0, 0);
    background: radial-gradient(circle 600px at 100% 0,#212121,#121212);
}

.mundo_uno > div:nth-of-type(2) {
    z-index: 10;
    display: flex;
    justify-content: right;
    flex-basis: 50%;
    transform: translateZ(0.3px) scale(0.6) translatex(-20%);
}

/* seccion 2 */

.mundo_dos > div:nth-of-type(1) {
    z-index: 10;
    display: flex;
    justify-content: left;
    flex-basis: 50%;
}

.mundo_dos > div:nth-of-type(2) {
    border-radius: 16px;
    padding: 24px;
    z-index: 10;
    color: white;
    text-align: justify;
    flex-basis: 35%;
    box-shadow: 0 12px 24px -8px rgb(0, 0, 0);
    background: radial-gradient(circle 600px at 100% 0,#212121,#121212);
}

.mundo_dos > div:nth-of-type(1) {
    transform: translateZ(.3px) scale(0.6) translateX(30%);
}

/* seccion 3 */

#mundo5 > div:nth-of-type(2) {
    z-index: 10;
    display: flex;
    justify-content: right;
    flex-basis: 50%;
    transform: translateZ(0.3px) scale(0.6) translateX(-20%);
}

/* footer */

footer {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    transform-style: inherit;
}

footer h3 {
    font-family: "anurati";
    transform: translateZ(.5px) scale(1.3) translateY(-200px);
    
}